@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


:root{
    --fontPoppins: 'Poppins', sans-serif;
    --fontDelius: 'Delius', cursive;
}

body{
    background-color: #101010;
    
}

*{
    cursor: url('../image/cursor/iconmonstr-cursor-2.svg'), auto;
}

*:active{
    cursor: url('../image/cursor/iconmonstr-cursor-10.svg'), auto;
}

a{
    color: white;
}

a:hover{
    color: darkgray;
}

.menu{
    position: sticky;
    top: 0;
    z-index: 99;
    transition: 0.5s ease-in-out;
}

.menuInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background-color: #13131faa;
    border-bottom: 1px solid darkgray;
}

#menuName{
    font: 200 30px var(--fontPoppins);
    color: white;
}

.menuGroupLinks{
    display: flex;
    justify-content: space-evenly;
    max-width: 300px;
    width: 100%;
}

.menuGroupLinks a{
    position: relative;
    padding-left: 3px;
}

.menuGroupLinks a::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: white;
    transition: .4s ease-out;
    position: absolute;
    right: 0;
}

.menuGroupLinks a:hover::after{
    left: 0;
    width: 100%;
}

.menuSocialMedia{
    max-width: 250px;
    width: 100%;
}

.menuSocialMedia ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;
}

.menuLink{
    display: flex;
    flex-direction: row;
}

.menuLink img{
    width: 24px;
    height: 24px;
}

.linkSocialMedia{
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
}

/*My Informations*/

.mainContent{
    background-size: 200% 200%;
    animation: gradientAnimation 40s infinite alternate-reverse;
    position: relative;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    gap: 20px;
    padding: 20px 50px; /*retira se usar o bag lá em cima*/
}

.informationSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    padding: 80px;
    width: 100%;
    max-width: 900px;
}

#textTyping{
    color: white;
    font: 200 1.8em var(--fontPoppins);
    min-height: 1.5em;
}

.informationSkills #textTyping::after{
    content: '|';
    animation: typing 1s infinite steps(40);
}

.informationSkills p{
    color: white;
    font-size: clamp(0.6, 1vw, 1em);/*1.9em*/
}

.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.informationImage{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    max-width: 600px;
    width: 100%;
    height: 500px;
}

.informationImageContainer{
    max-width: 500px;
    width: 100%;
    aspect-ratio: 2/2;
}

.informationImageContainer img{
    width: 100%;
    height: 100%;
}

.informationPicture{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.informationPicture .image{
    background-image: url('../image/new.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: auto;
}

.myInfos{
    height: 500px;
    text-align: center;
}
.myInfos p {
    margin-top: 10px;
    font: 1.325em var(--fontDelius);
    color: lightgray;
}

.gitHub, .linkedin{
    color: white;
    max-width: 150px;
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid white;
}

.gitHub:hover, .linkedin:hover{
    background-color: white;
    color: black;
}

/*Section Skills*/

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h1{
    font: 200 2em var(--fontPoppins);
    margin-top: 50px;
    color: white;
}

.skills h2{
    color: white;
}

.cardSkills{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px 20px;/*100px 20px 50px 20px*/
}

.cards{
    max-width: 300px;
    width: 100%;
    padding: 20px 20px;
    border-top: 1px solid #404040;
    box-sizing: border-box;

    /*JavaScript*/
    transition: all .1s ease-in;
}

.cards img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cards h2{
    padding: 5px 0px;
}

.cards p{
    color: white;
    padding: 5px 0px;
    font-size: 0.9em;
}

/*Projects*/

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.projects > h1{
    font: 200 2em var(--fontPoppins);
    margin-bottom: 50px;
    color: white;
}

.projects > p{
    font: 200 clamp(0.8em, 0.5em + 0.7vw, 1.2em) var(--fontPoppins);
    margin-top: 20px;
    color: white;
    text-align: center;
}

.projectsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
    max-width: 1200px;
}

.projectsGroups{
    position: relative;
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 5px;

    box-sizing: border-box;
    background-color: #202020;
    border-radius: 5px;
}

.projectsGroups img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.projectsInformation{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 5px;
    top: 0;
    left: 0;

    transition: .4s ease-out;
    opacity: 0;
}

.projectsInformation:hover{
    opacity: 1;
}

/*Window*/

.projectOpenContainer{
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: rgba(169, 169, 169, 0.400);
    z-index: 1000;
}

.projectOpenClose{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    position: relative;
}

.projectOpen{
    display: flex;
    gap: 25px;

    position: relative;   
    
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #0D0D15;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y: scroll;
}

.projectVisualInfo{
    max-width: 525px;
    width: 100%;
    height: 100%;
}

.projectImage{
    aspect-ratio: 2/1;
    max-width: 525px;
    width: 100%;
}

.projectImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}

.projectInfo h1{
    color: white;
    padding: 20px;
    font-family: var(--fontDelius);
}

.projectDescription{
    max-width: 425px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 20px;
}

.projectDescription p{
    font: clamp(0.6em, 0.6em + 1vw, 1.1em) var(--fontPoppins);
    letter-spacing: 0.7px;
    color: white;
    height: 100%;
}

.closeWindow{
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    right: -15px;
    font: 20px Verdana;
}

#linkWindow{
    color: violet;
    white-space: nowrap;
}

#linkWindow:hover{
    color: rgba(238, 130, 238, 0.705);
}

.closeWindow:hover{
    color: white;
    background-color: black;
}



/*Footer*/
footer{
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #13131f;
}

footer p{
    color: white;
    font-size: clamp(0.6em, 0.5em + 0.9vw, 1em);
}

/*Others*/

#hr{
    margin: auto;
    height: 1px;
    width: 30vw;
    min-width: 50px;
    background-color: #202020;
}

.videoWallpaper{
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
    object-fit: cover;
}

.projectStatistic{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statsContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}

.statsImgContainer{
    max-width: 30px;
    height: 30px;
    filter: grayscale(0.3);
}

.statsImgContainer img{
    width: 100%;
    height: 100%;
}

.statsLoadingContainer{
    width: 400px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

.statsLoading{
    height: 100%;
    border-radius: 3px;
    width: 0;
    
}

.statsContainer p{
    color: white;
}

/*Animations*/

@keyframes typing {
    from{
        content: '';
    }
    to{
        content: '|'
    }
}
