/*Carousel*/
.carousel{
    padding: 20px;
    display: flex;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;
}

.carouselSettings{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1050px;
    width: 100%;
    position: relative;
}

.carouselCore{
    max-width: 950px;
    width: 100%;
    overflow-x: hidden;
}

.carouselContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 300%;
    transition: transform .5s ease-in-out;
    /*gap: 50px;*/
}

.carouselGroups{
    max-width: 450px;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff1a;
    border-radius: 5px;
}

.carouselGroups{
    margin-right: 50px;
}

.carouselGroups:first-child{
    margin-left: 25px;
}

.carouselGroups img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carouselGroups h2{
    padding: 10px 0px;
    color: #fff;
    width: 100%;
}

.carouselGroups p{
    color: #fff;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 98;
}

.btnCarousel img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.btnCarousel img:hover{
    filter: invert(0.5);
}